*{
    margin: 0;
    padding: 0;
}
.main{
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url("pexels-photo-326055.jpeg");
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.icon{
    font-size: 20px;
    font-family: Arial;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
    color: darksalmon;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-left:362px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 72px;
    margin-top: 19px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}
ul li a:hover{
    color: black;
}
.search{
    width: 330px;
    float: left;
    margin-left: 200px;
}
#src{
    width: 200px;
    height: 30px;
    background: transparent;
    margin-top: 15px;
    color: antiquewhite;
    padding: 3px;
    border-radius: 6px;
    font-size: 15px;
}
.btn{
    width: 100px;
    height: 40px;
    background: darksalmon;
    margin-top: 15px;
    border-radius: 7px;
    color:white;
}
#src:focus{
    outline: none;
}
.con{
    width: 1200px;
    margin: 50px;
    color: antiquewhite;
    position: relative;
}
.con p{
    padding-left: 50px;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-top: 25px;
    color:aliceblue;
    font-weight: bold;
}
.con h1{
    font-size: 50px;
    margin-top:15%;
    line-height: 70px;

}
.forms{
    width: 250px;
    height: 300px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    left: 870px;
    border-radius: 8px;
    padding: 25px;
    top:-20px;
    margin-top: 200px;
}
.forms h2{
    width: 220px;
    text-align: center;
    color: darksalmon;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.forms input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-left: none;
    border-right: none;
    color: antiquewhite;
    margin-top: 30px;

}
.btn1{
    width: 240px;
    height: 30px;
    background-color: orange;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
}
.btn1 a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
.link{
    color: antiquewhite;
    margin-top: 20px;
    text-align: center;
}
.forms #anc{
    text-decoration: none;
}
