.checkout h1{
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.checkout h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.common-form{
    align-items: center;
    text-align: center;
}
#center{
    align-items: center;
    text-align: center;
}