.navbar{
    display:flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display:flex;
    align-items: center;
    gap: 30px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:50px;
    color:grey;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu ul li link{
    color: grey;
    list-style: none;
    align-items: center;
}
.nav-menu li{
    justify-content: center;
    gap:3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 70%;
    height:3px;
    background-color: blueviolet;
    border-radius: 10px;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 150px;
    height: 48px;
    border-radius: 75px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background-color:lightgray ;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    margin-top: -35px;
    margin-left: -52px;
    font-size: 14px;
    background-color: red;
    color: white;
    border-radius: 50px;
}
a{
    text-decoration: none;
    color: grey;
}