*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar h3{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.navbar button{
    font-size: 25px;
    width: 95px;
    height: 50px;
    background-color: blueviolet;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    cursor: pointer;
}
.navbar p{
    cursor: pointer;
    margin-bottom: 10px;
}